<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Insert title here</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <style type="text/css">
    .row1 {
      margin:0px auto;
      width: 700px;
      height: 650px;
    }
    h1 {
      text-align: center
    }
  </style>
</head>
<body>
<div class="container">
  <h1>기사 상세보기</h1>
  <div class="row row1 mt-2">
    <table class="table">
      <tr>
        <th width=20% class="text-center warning">번호</th>
        <td width=30% th:text="${naverNewsDto.id}"></td>
        <th width=20% class="text-center warning">작성일</th>
        <td width=30% class="text-center" th:text="${naverNewsDto.date}"></td>
      </tr>
      <tr>
        <th width=20% class="text-center warning">작성자</th>
        <td colspan="3" th:text="${naverNewsDto.writer}"></td>
      </tr>
      <tr>
        <th width=20% class="text-center warning">제목</th>
        <td colspan="3">
          <!-- 제목에 링크 추가 -->
          <a th:href="${naverNewsDto.articleUrl}" th:text="${naverNewsDto.title}"></a>
        </td>
      </tr>
      <tr>
        <td colspan="4" class="text-left" valign="top" height="200">
          <pre style="white-space: pre-wrap;border:none;background-color: white;" th:text="${naverNewsDto.content}"></pre>
        </td>
      </tr>
      <tr>
        <td colspan="4" class="text-right">
          <a href="../naverNews/main" class="btn btn-xs btn-success">목록</a>
        </td>
      </tr>
    </table>
  </div>
</div>
</body>
</html>
